.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
  color: #f5deb3;

}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview_indicators{
  list-style-type: none;
  padding: 10px;
  color: #7d6d4f;
  background-color: #fff;
  border-radius: 20px;
}